@model CastroMotors.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Alterar Senha";
}

<main aria-labelledby="title" class="container mt-4">
    <h2 id="title" class="text-primary">@ViewBag.Title</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="card shadow-sm mt-4">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Formulário de Alteração de Senha</h4>
            </div>
            <div class="card-body">

                <!-- Exibe o alerta apenas se houver erros de validação -->
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState.Values.Any(v => v.Errors.Count > 0))
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(excludePropertyErrors: true)
                    </div>
                }

                <!-- Campo para Senha Atual -->
                <div class="mb-3 row">
                    @Html.LabelFor(m => m.OldPassword, "Senha Atual", new { @class = "col-md-3 col-form-label fw-bold text-secondary" })
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Digite sua senha atual" })
                    </div>
                </div>

                <!-- Campo para Nova Senha -->
                <div class="mb-3 row">
                    @Html.LabelFor(m => m.NewPassword, "Nova Senha", new { @class = "col-md-3 col-form-label fw-bold text-secondary" })
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Digite sua nova senha" })
                    </div>
                </div>

                <!-- Campo para Confirmar Nova Senha -->
                <div class="mb-3 row">
                    @Html.LabelFor(m => m.ConfirmPassword, "Confirmar Nova Senha", new { @class = "col-md-3 col-form-label fw-bold text-secondary" })
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirme sua nova senha" })
                    </div>
                </div>

                <!-- Botão de Alteração de Senha -->
                <div class="row mt-4">
                    <div class="col-md-9 offset-md-3">
                        <input type="submit" value="Alterar Senha" class="btn btn-outline-primary btn-lg w-100" />
                    </div>
                </div>
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
